<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.NutrimentMapper">

    <insert id="save">
        INSERT INTO nutriment(user_id, name, detail, unit, is_publish, create_time)
        VALUES (#{userId}, #{name}, #{detail}, #{unit}, #{isPublish}, #{createTime})
    </insert>

    <update id="update">
        UPDATE nutriment
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="detail != null and detail != ''">
                detail = #{detail},
            </if>
            <if test="unit != null and unit != ''">
                unit = #{unit},
            </if>
            <if test="isPublish != null">
                is_publish = #{isPublish},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="batchDelete" parameterType="list">
        DELETE FROM nutriment WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--查询信息-->
    <select id="query" resultMap="BaseResultMap">

        SELECT n.*,
        u.user_name,
        u.user_avatar
        FROM nutriment n
        LEFT JOIN user u ON n.user_id = u.id
        <where>
            <if test="id != null">
                AND n.id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND n.name LIKE concat('%',#{name},'%')
            </if>
            <if test="userId != null">
                AND n.user_id = #{userId}
            </if>
            <if test="isPublish != null">
                AND n.is_publish = #{isPublish}
            </if>
            <if test="startTime != null and endTime != null">
                AND n.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        ORDER BY n.id DESC
        <if test="current != null and size != null">
            LIMIT #{current},#{size}
        </if>
    </select>

    <!--满足分页条件的数据总项-->
    <select id="queryCount" resultType="integer">

        SELECT COUNT(*)
        FROM nutriment n
        <where>
            <if test="id != null">
                AND n.id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND n.name LIKE concat('%',#{name},'%')
            </if>
            <if test="userId != null">
                AND n.user_id = #{userId}
            </if>
            <if test="isPublish != null">
                AND n.is_publish = #{isPublish}
            </if>
            <if test="startTime != null and endTime != null">
                AND n.create_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.kmbeast.pojo.vo.NutrimentVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_avatar" property="userAvatar"/>
        <result column="user_name" property="userName"/>
        <result column="name" property="name"/>
        <result column="detail" property="detail"/>
        <result column="unit" property="unit"/>
        <result column="is_publish" property="isPublish"/>
        <result column="create_time" property="createTime"/>
    </resultMap>


</mapper>
